
.container{
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    width: 150px;
    
    border: 2px solid rgb(179, 7, 7);
    box-shadow: 0px 4px 10px rgb(151, 70, 70);
    margin-right: 10px; 
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s; 
    background-color: white;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 20px rgb(151, 70, 70); 
    cursor: pointer;
}